.wcsfw-title {
    width: 180px;
}

.wcsfw-symbol-btn {
    background: none !important;
    color: inherit !important;
    border: none !important;
    padding: 0 !important;
    font: inherit !important;
    cursor: pointer !important;
    outline: inherit !important;
}

.wcsfw.below-short-desc ul {
    padding-left: 0
}

.wcsfw.below-short-desc ul li {
    list-style-type: none !important;
    display: inline-block;
}