.wcsfw-title {
    width: 180px;
}
.wcsfw-symbol-btn {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
.wcsfw-symbol-img {
    height: 34px;
}